body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #194a7f;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.college-detail {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.college-detail img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.college-detail h2 {
    color: #194a7f;
    margin-bottom: 20px;
}

.college-detail p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    background-color: #194a7f;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
