body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #303f9f;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

#feedback-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: left; /* Align the heading to the left */
}

label {
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%; /* Reduced width */
    padding: 8px; /* Slightly reduced padding */
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%; /* Full width for the textarea */
}

button {
    padding: 10px 20px;
    background: #303f9f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #303f9f;
}

.hidden {
    display: none;
}
